@import "tailwindcss";

@theme {
  /* height: uses the spacing scale */
  --spacing-form-element: 38px;

  /* font sizes */
  --font-size-base: 12px;

  /* spacing custom */
  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 16px;

  /* colors */
  --color-grey-dark: #454545;
  --color-grey-minor: #8b9ca0;
  --color-grey-light: #ccc;

  --color-blue-light: #a7dbd8;
  --color-blue-dark: #062e4c;

  --color-red-light: #ffa5a5;
  --color-red-dark: #4c0606;

  --color-bg: #fff;

  /* shadows */
  --shadow-card: 0 8px 32px rgba(0, 0, 0, 0.2);
}

/* Screen reader only utility class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
